
VITE_API_URL=https://your-backend-url.com

VITE_GEMINI_API_KEY=AIzaSyDY0U7OS6oKDa-09QcVOIgrpiYwYVlBEn8
VITE_TAVUS_API_KEY=818bf49c65074965b06dc0231cfaba1f
VITE_TAVUS_REPLICA_ID=rf4e9d9790f0
VITE_TAVUS_PERSONA_ID=p430f07f85fb